.opacity02 {
  opacity: 0.2 !important;
}

.opacity03 {
  opacity: 0.3 !important;
}

.opacity05 {
  opacity: 0.5 !important;
}

.opacity056 {
  opacity: 0.56 !important;
}

.purpleBG {
  background: $purpleOne !important;
}

.blackBG {
  background: $black !important;
}


.darkTealBG {
  background: $darkTeal !important;
}

.aquaTextBG {
  background: $aquaText !important;
}

.purpleTwoBG {
  background: $purpleTwo !important;
}

.purpleThreeBG {
  background: $purpleThree !important;
}

.aquaTextBG {
  background: $aquaText !important;
}

.blueBG {
  background: $blueThree !important;
}

.blueFourBG {
  background: $blueFour !important;
}

.blueBG20 {
  background: $blueThree !important;
  opacity: 0.2 !important;
}
.merlinBlueBG {
    background: $merlinBlue;
}

.redBG {
  background: $redOne !important;
}

.greyBG {
  background: $greyFour;

  h3 {
    color: $tealOne;
  }

  p {
    color: $whiteText;
    font-size: 1.250em;
  }
}

.rwd-break {
    display: none;
}

.fullHeightContainer {
  height: 100% !important;
}

.greyEightBG {
  background: $greyEight !important;

  p {
    color: $whiteText;
    font-size: 1.250em;
  }
}


.orangeBG {
  background: $orangeOne !important;
}

.heroTextBG {
  background: $greySix;
}

.insightsBG {
  background: $greyThree;

  h3 {
    color: $greenText;
  }

  h4 {
    margin-bottom: 70px;
  }
}

.tealBG {
  background: $tealOne;
  color: $whiteText;
}

.whiteBG {
  background: $whiteText;
}

.orangeBG {
  background: $orangeTwo;
  color: $whiteText;
}

.greenBG {
  background: $greenOne !important;
}

.limegreenBG {
  background: $limeGreen !important;
}


.featuredSuccessStoryBG {
  background: $greyOne;
  color: $whiteText;
}

.ichorBG {
  background: $greyOne;
  color: $whiteText;
}

.darkGreyBG {
  background: $greyOne;
  color: $whiteText;
}

.lightGreyBG {
  background: $greyNine;
  color: $greyOne;
}

.greyOneColor {
  color: $greyOne;
}

.purpleTwoColor {
  color: $purpleTwo;
}

.purpleThreeColor {
  color: $purpleThree;
}

.LightGreyBG {
  background: $greySeven;
}

.parallax-window {
  color: $whiteText;
}

.orange2purple {
  background-image: linear-gradient(to bottom, #B04A17, #7E2080);
}

.purple2purple {
  background-image: linear-gradient(to bottom, #331537, #892e88);
}


.purpleOneText {
  color: $purpleOne;
}

.orangeText {
  color: $orangeTwo;
}

.magentaText {
  color: $purpleThree;
}

.midBlueText {
  color: $blueTwo;
}

.aquaText {
  color: $aquaText;
}

.greenText {
  color: $limeGreen;
}
.merlinBlueText {
    color: $blueThree!important;
}

.full-height {
  height: calc(100vh - 96px);
  @include phone {
    height: auto;
  }
}

a{
  color:$white;
  text-decoration:none;
  
  &.link-page{
    color: $greyOne;
    }
  &:hover {
        color: $greyEight;
        text-decoration: none;
    }
}




.CSpopup {
  border: 1px solid $white;
    @include rolloverAnimations(250ms);
    -moz-transform: scale(1);
-webkit-transform: scale(1);
-o-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1);
}

.CSpopup:hover {
  border: 1px solid $purpleThree;
    -moz-transform: scale(1.05);
 -webkit-transform: scale(1.05);
      -o-transform: scale(1.05);
     -ms-transform: scale(1.05);
         transform: scale(1.05);
    cursor: pointer;
}

.tealButton {
  background-color: #308792;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 1.125em;
  font-weight: bold;
  padding: 14px 31px;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #308792;
}

.tealButton:hover {
    border-color: inherit;
    color: #308792;
    text-decoration: none;
}

.tealButton:active {
  position: relative;
  top: 1px;
}

.industry-section {
  .industry-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .5;

    &.purple {
      background-color: #58135B;
    }
  }

  .sectors.industry-sectors {
    margin-bottom: 30px;
  }

  .industry-button-2 {
    margin-bottom: 60px;
  }
}

.whitePurpleButton {
  background-color: #ffffff;
  display: inline-block;
  cursor: pointer;
  color: #A71680;
  font-size: 1.125em;
  font-weight: bold;
  padding: 14px 31px;
  text-decoration: none;
  text-transform: uppercase;
   border: 1px solid #ffffff;
    &:after {
        background: $pinkOne;
    }
    &:hover {
        color: $white;
        text-decoration: none;
    }
  @include tablet {
    padding: 10px 21px;
  }
  @include phone {
    padding: 10px 11px;
  }
}

.whitePurpleButton:hover {
  background-color: #ffffff;
}


.whitePurpleButton:active {
  position: relative;
  top: 1px;
}

.darkPurpleButton {
  background-color: $purpleOne;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 1.125em;
  font-weight: bold;
  padding: 14px 31px;
  text-decoration: none;
  text-transform: uppercase;
}

.darkPurpleButton:hover {
  border-color: inherit;
    color: $purpleOne;
    text-decoration: none;
}

.darkPurpleButton:active {
  position: relative;
  top: 1px;
}

.magentaButton {
  background-color: $pinkOne;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 1.125em;
  font-weight: bold;
  padding: 14px 31px;
  text-decoration: none;
  text-transform: uppercase;
}

.magentaButton:hover {
  border-color: inherit;
    color: $pinkOne;
    text-decoration: none;
}

.magentaButton:active {
  position: relative;
  top: 1px;
}

.limeGreenButton {
  background-color: $limeGreen;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 1.125em;
  font-weight: bold;
  padding: 14px 20px;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid $limeGreen;
}

.limeGreenButton:hover {
  border-color: inherit;
    color: $limeGreen;
    text-decoration: none;
}


.limeGreenButton:active {
  position: relative;
  top: 1px;
}

.pageLinks {
  position: relative;
}

.pageLinks:after {
  content: '';
  position: absolute;
  width: 40%;
  left: 0;
  bottom: -35px;
  border-bottom: 1px solid $purpleThree;

  @include phone {
    display: none;
  }
}

// Comms carousel
.approach {
  h3 {
    &.title {
      margin-top: 60px;
    }
  }

  h4 {
    font-size: 1.5em;
    margin: 10px 0;
  }

  p {
    margin-bottom: 0;
    font-size: 1.125em;

    &.subhead {
      font-size: 1.5em;
      margin-bottom: 80px;
    }
      &:last-of-type {
          @include phone {
            margin-bottom: 20px;
          }
      }
  }

  .column{
    @include phone {
            margin-bottom: 20px;
          }
  }

  a {
    text-decoration: none;

    &:hover {
      //text-decoration: underline;
    }
    
  }
    
}

// Parallax sections

.parallax {
  position: relative;
  background-attachment: fixed;
  background-position: 50% 0;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
    @include phone {
        background-attachment: scroll;
    }
  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
  }

  h3 {
    color: $whiteText;
    text-transform: uppercase;
  }

  h4 {
    color: $whiteText;
    font-size: 1.5em;
  }

  .sectors {
    margin: 30px 0 50px 0;
  }

  .sector {
    color: $pinkText;
    font-size: 1.375em;
    @include tablet-portait {
      font-size: 1.5em;
    }
  }
}

	.locationPopup{
		cursor:pointer;
		
		&:hover {
        color: $pinkOne;
      }

	}
	
.paygap {

  h3 {
    font-size: 1.75em;
  }

  img {
//    max-height: 240px;
//    height: 240px;
      padding: 0!important;
      margin: 0 0 20px 0;
      &.moneyImage {
          margin: 0 0 93px 0;
      }
    @include phone {
      display: none;
    }
  }

  p {
    margin: 0;

    &.numbers {
      font-size: 1.8em;
    }

    &.callout {
      font-size: 1.375em;
      font-weight: 600;
    }


  }

  .comp {
    padding: 10px;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
      &.alignCenter {
          text-align: center;
          li {
              span {
                  color: #a71680;
              }
          }
      }
  }

  li {
    margin: 0;
    list-style: none;
    padding: 0 0 0 40px;
    position: relative;

//    &:nth-child(1):before {
//      content: "*";
//      position: absolute;
//      left: 0;
//      height: 100%;
//    }

  }


  .button {
    max-width: 380px;
    margin: 0 auto;
      display: block;
  }

}


.fullwidthContainer {
  max-width: 100% !important;
}

// Content blocks 50%

.halfWidthBlocks {
  .row {
    display: -ms-flexbox;
    display: flex;

    .halfWidthBlocksBG {
      float: none;
      background-position: center center;
      background-size: cover;
    }

    .halfWidthBlocksContent {
      float: none;

      .halfWidthBlocksText {
        width: 100%;
        max-width: 590px;
        padding-left: 60px;
        padding-right: 60px;
        @include box-sizing();
        @include phone {
          padding-left: 30px;
          padding-right: 30px;
        }
      }
    }

    &:nth-of-type(even) {
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
    }

    @include phone {
      display: block;
    }
  }

  &.animatedBlocks {
    .halfWidthBlocksBG {
      @include rolloverAnimations(750ms);
      position: relative;
      left: -50%;
      @include tablet {
        left: 0;
      }
      @include phone {
        left: 0;
      }
    }

    .halfWidthBlocksContent {
      @include rolloverAnimations(750ms);
      position: relative;
      right: -50%;
      @include tablet {
        right: 0;
      }
      @include phone {
        right: 0;
      }
    }

    &.inview {
      .halfWidthBlocksBG {
        left: 0;
      }

      .halfWidthBlocksContent {
        right: 0;
      }
    }
  }
}

// Insights Section Styling

.insightsBlock {
  .insightsFlex {
    display: -ms-flexbox;
    display: flex;
      &:nth-of-type(odd) {
         -ms-flex-direction: row-reverse;
         flex-direction: row-reverse;
     }
    .insightsFlexText {
      padding: 60px;
      @include box-sizing();

      h3 {
        color: $nearBlackText;
        margin: 0 0 30px 0;
      }

      p {
        margin: 0 0 20px 0;
        color: $nearBlackText;
      }

      @include phone {
        padding: 30px;
      }
    }

    .insightsFlexBG {
      background-size: cover;
      background-position: center center;
      @include phone {
        height: 250px;
        width: 100%;
      }
    }

    @include phone {
      display: block;
    }
  }
}

// Featured Success Story

.featuredSuccessStoryBlock {
  .featuredSuccessStoryFlex {
    display: -ms-flexbox;
    display: flex;

    .featuredSuccessStoryText {
      padding: 60px;
      @include box-sizing();

      h3 {
        color: $nearBlackText;
        margin: 0 0 30px 0;
      }

      p {
        margin: 0 0 20px 0;
        color: $nearBlackText;
      }

      .button {
        margin: 0;
        max-width: 215px;
      }

      @include phone {
        padding: 30px;
      }
    }

    .featuredSuccessStoryBG {
      background-size: cover;
      background-position: center center;
      position: relative;

      .overlay {
        position: absolute;
        width: 50%;
        height: 100%;
        right: 0;
        top: 0;
        background: $transWhite;
        padding: 0 60px;
        @include box-sizing();

        .overlayTable {
          display: table;
          width: 100%;
          height: 100%;

          .overlayTableCell {
            display: table-cell;
            width: 100%;
            height: 100%;
            vertical-align: middle;
          }
        }
      }

      @include phone {
        height: 250px;
      }
    }

    @include phone {
      display: block;
    }
  }
}

.downloadSection {
  &.padding {
    padding: 90px 0;
  }
}

// Ichor Section
.ichorSection {
  .logo {
    width: 100%;
    max-width: 160px;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  .service {
    min-height: 475px;
  }

  .fontSize22px {
    font-size: 1.375em;
    line-height: 1.375em;
  }

  .scale-with-grid-third {
    padding: 0 0 30px;
  }
}

// Our Values
.ourValues {
  color: $whiteText;

  h2 {
    margin: 0 0 40px 0;
  }

  h3 {
    font-size: 1.875em;
    line-height: 1em;
    margin: 0 0 10px 0;
  }

  h4 {
    font-size: 1.500em;
  }
}

// Meet the team

.meetTheBoard {
  background: $greySeven;

  h2 {
    margin: 0 0 40px 0;
    color: $purpleTwo;
  }

  .row {
    margin: 0 0 20px 0;
  }

  .one-third {
    &.column {
      padding: 0 10px;
      @include tablet-portait {
        width: 50%;
      }
        @include phone {
            width: 100%;
        }
    }
  }

  .boardMember {
    height: 400px;
    position: relative;
    margin-bottom: 20px;

    .boardMemberImage {
      width: 100%;
      height: 200px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .boardMemberText {
      padding: 30px 20px 15px 20px;

      h4 {
        font-size: 1.750em;
        line-height: 1em;
        margin: 0 0 15px 0;
      }

      p {
        font-size: 1.125em;
        line-height: 1.2em;
        margin: 0 0 40px 0;
      }

      .boardMemberButton {
        max-width: 270px;
      }

      .boardMemberTel {
        font-size: 1em;
        text-align: left;
        padding: 10px 0 0 0;
        margin: 0;
      }

      .Connect {
        text-align: left;
        position: absolute;
        left: 20px;
        bottom: 15px;

        p {
          display: inline-block;
          line-height: 1em;
          font-size: 1em;
          margin: 0 5px 0 0;
          position: relative;
          top: -3px;
        }

        a {
          margin: 0;
          display: inline-block;

          .fab {
            font-size: 1.5em;
            color: $nearBlackText;
            @include rolloverAnimations(250ms);
          }

          &:hover {
            .fab {
              color: $pinkOne;
            }
          }
        }
      }
    }

    @include tablet-portait {
      height: 450px;
    }
    @include phone {
      height: auto;
      margin-bottom: 20px;
    }
  }
  
    .keyContact {
    height: 300px;
    position: relative;
    margin-bottom: 20px;

    .boardMemberImage {
      width: 100%;
      height: 200px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .boardMemberText {
      padding: 30px 20px 15px 20px;

      h4 {
        font-size: 1.750em;
        line-height: 1em;
        margin: 0 0 15px 0;
      }

      p {
        font-size: 1.125em;
        line-height: 1.2em;
        margin: 0 0 40px 0;
      }

	   .Telephone {
        text-align: left;
        position: absolute;
        left: 20px;
        bottom: 50px;

        p {
          display: inline-block;
          line-height: 1em;
          font-size: 1em;
          margin: 0 5px 0 0;
          position: relative;
          top: -3px;
        }

      }
	  
      .Connect {
        text-align: left;
        position: absolute;
        left: 20px;
        bottom: 15px;

        p {
          display: inline-block;
          line-height: 1em;
          font-size: 1em;
          margin: 0 5px 0 0;
          position: relative;
          top: -3px;
        }

        a {
          margin: 0;
          display: inline-block;

          .fab {
            font-size: 1.5em;
            color: $nearBlackText;
            @include rolloverAnimations(250ms);
          }

          &:hover {
            .fab {
              color: $pinkOne;
            }
          }
        }
      }
    }

    @include tablet-portait {
      height: 450px;
    }
    @include phone {
      height: auto;
      margin-bottom: 20px;

    }
  }
}

// Our history

.ourHistory {
  h2 {
    color: $palePink;
    margin: 0 0 40px 0;
  }
}

// Careers Page Sections

#thesecret {
  h4 {
    font-size: 1.500em;
    margin: 0 0 60px 0;
  }
}

#wehaveyoucovered {
  h2 {
    margin: 0 0 40px 0;
    text-transform: uppercase;
  }

  h3 {
    font-size: 1.875em;
  }

  h4 {
    font-size: 1.500em;
    margin: 0 0 60px 0;
  }

  .icon {
    width: 113px;
    margin: 0 auto;
    margin-bottom: 30px;

    &.myVoice {
      width: 98px;
    }

    &.myWellbeing {
      width: 96px;
      margin-bottom: 38px;
    }

    &.myRewards {
      width: 82px;
      margin-bottom: 35px;
    }

    &.myDevelopment {
      width: 85px;
      margin-bottom: 15px;
    }

    &.myCareer {
      width: 106px;
      margin-top: 5px;
      margin-bottom: 37px;
    }
  }

}

#aPlaceToGrow {
  background: $darkTeal;
  color: $whiteText;

  h2 {
    margin: 0 0 40px 0;
    text-transform: uppercase;

    &.alt {
      color: $limeGreen;
      margin: 0 0 20px 0;
      text-transform: none;
      line-height: 1em;
    }
  }

  h4 {
    margin: 0 0 60px 0;
    font-size: 1.500em;
  }
}

#connectWithUs {
  color: red;

  .button {
    margin-bottom: 30px;
  }

  p {
    color: $whiteText;
    margin: 0;

    a {
      color: inherit;
    }
  }
}


// Contact Page

.contactBlocks {
  .row {
    display: -ms-flexbox;
    display: flex;

    .halfWidthBlocksContent {
      float: none;

      &:first-of-type {
        .halfWidthBlocksText {
          float: right;
        }
      }

      .halfWidthBlocksText {
        width: 100%;
        max-width: 590px;
        padding-left: 60px;
        padding-right: 60px;
        @include box-sizing();

        p {
          &:last-of-type {
            margin-bottom: 20px;
          }
        }

        .internalLink {
          font-size: 1em;
          line-height: 1em;
          color: $purpleTwo;
          font-weight: 700;
          text-transform: uppercase;
          text-decoration: none;
          padding-bottom: 5px;
          position: relative;

          &:after {
            content: '';
            display: block;
            position: absolute;
            width: 0;
            height: 2px;
            background: $purpleTwo;
            @include rolloverAnimations(300ms);
          }

          &:hover {
            &:after {
              width: 100%;
            }
          }
        }
      }

      &.purpleBG {
        color: $whiteText;

        h3 {
          color: $pinkText;
        }

        p {
          margin: 0 0 10px 0;
          color: $whiteText;
        }

        .telLink {
          color: $whiteText;
          display: block;
          text-decoration: none;
          font-size: 1.625em;
          line-height: 1em;
          font-weight: 300;
          margin: 0 0 20px 0;
        }

        .button {
          margin: 0;
          max-width: 240px;
        }
      }
    }

    @include phone {
      display: block;
      .halfWidthBlocksContent {
        .halfWidthBlocksText {
          float: none !important;
          padding: 0 30px;
        }
      }
    }
  }
}

.two-columns{
  -moz-column-count: 2;
  -moz-column-gap: 30px;
  -webkit-column-count: 2;
  -webkit-column-gap: 30px;
  column-count: 2;
  column-gap: 30px;
}

.three-columns{
  -moz-column-count: 3;
  -moz-column-gap: 30px;
  -webkit-column-count: 3;
  -webkit-column-gap: 30px;
  column-count: 3;
  column-gap: 30px;
}

.four-columns{
  -moz-column-count: 4;
  -moz-column-gap: 30px;
  -webkit-column-count: 4;
  -webkit-column-gap: 30px;
  column-count: 4;
  column-gap: 30px;
}


.adareLocations {

    .adareLocationsText {
        padding: 0 20px 0 0;

        h2 {
            text-align: left;
        }

        p {
            text-align: left;
			margin-bottom:0;
        }

        &.borderRightWhite {
            border-right: 1px solid white;
        }
    }
}

// Globe Styling

.globeSection {
  .globe {
    .select {
      .styledSelect {
        font-size: 1.125em;
        text-transform: uppercase;
        display: block;
        padding: 8px 15px 0 15px;
        font-weight: 700;
        border: 2px solid $whiteText;
        @include box-sizing();
        height: 40px;

        &:after {
          top: 15px;
          right: 15px;
        }
      }
    }
  }

  .cPopup {
    .popupFull {
      .popupLeft {
        margin-right: 20px;
      }

      .popupRight {
        .countryFact {
          font-size: 1em;
          line-height: 1.4em;
          margin: 0 0 10px 0;
        }

        .internalLink {
          font-size: 1em;
          line-height: 1em;
          margin: 0;
          text-transform: uppercase;
        }
      }

      .internalLink {
        color: $limeGreen;
        font-size: 1.625em;
        line-height: 1em;
        text-decoration: none;
        margin: 0 0 20px 0;
        display: block;
        padding-bottom: 3px;
        position: relative;

        &:after {
          background: $limeGreen;
          content: '';
          display: block;
          width: 0;
          height: 2px;
          position: absolute;
          left: 0;
          bottom: 0;
          @include rolloverAnimations(300ms);
        }

        &:hover {
          &:after {
            width: 100%;
          }
        }
      }

      .button {
        margin: 0;
        max-width: 240px;
        border-color: $limeGreen;

        &:before {
          display: none;
        }

        &:after {
          background: $limeGreen;
        }

        &:hover {
          color: $whiteText;
        }
      }
    }
  }
}

.technologySubtitleArea {
  padding: 40px 0 20px;
}

.img_background{
 background-color: $white;
}

#locationMap{

	.title{
		margin:50px;
	}
	

.locCity, .locCountry {display:inline-block;}

	h2{
	font-size: 2.5em;
	}

	p{
	margin-top:20px;
	font-size: 1.125em;
	line-height: 1.6;
	}
	#map {
        height: 100%;
      }
}

// Merlin Page Specific styles

.merlinPage {
    .contentArea {
        &.shanghaiSurpriseSection {
            padding: 70px 0;
            @include background-image('shanghaiHero.jpg', center center);
            overflow: hidden;
            position: relative;
            .addBottom {
                margin: 0 0 100px 0;
            }
            .rowFlex {
                display: -ms-flexbox;
                display: flex;
            }
            .bookIllustrationContainer {
                position: relative;
                .bookIllustration {
                    position: absolute;
                    left: -20px;
                }
            }
            .logoBox {
                .scale-with-grid {
                    max-width: 250px;
                    margin: 0 auto;
                    margin-bottom: 50px;
                }
            }

        }
        .button {
            &.merlinButton {
                border-color: $merlinPurple;
                &:before {
                    background: $merlinPurple;
                }
                &:hover {
                    color: $merlinPurple;
                }
                margin: 0 auto;
            }
            &.darkBlueButton {
                border-color: $merlinBlue;
                max-width: 180px;
                &:before {
                    background: $merlinBlue;
                }
                &:hover {
                    color: $merlinBlue;
                }
            }
            &.purpleButton {
                border-color: $purpleTwo;
//                max-width: 180px;
                &:before {
                    background: $purpleTwo;
                }
                &:hover {
                    color: $purpleTwo;
                }
            }
        }
        &.insightsBlock {
            h3 {
                color: $white;
                text-transform: uppercase;
            }
            .insightsFlex {
                .insightsFlexText {
                    h3 {
                        color: $nearBlack;
                    }
                }
            }
        }
        &.insightsListing {
            .insight {
                min-height: 400px;
                padding-bottom: 60px;
                h4 {
                    font-size: 1.750em;
                }
                .share {
                    padding: 0 30px 10px 30px;
                    .button {
                        display: block;
                        margin: 0 auto; 
                        margin-bottom: 35px;
                    }
                }
            }
            .filtersRow {
                margin: 0;
            }
        }
    }
    
    .heroSection {
        .heroImage {
            h3 {
                margin: 0 0 30px 0;
            }
            p {
                font-size: 1em;
                line-height: 1.4em;
                margin: 0 0 30px 0!important;
            }
            .articleImage {
                width: 60%;
                height: auto;
                margin: 0 auto;
                display: block;
                margin-bottom: 30px;
            }
            .noPadding {
                padding: 0;
                margin-top: 0;
            }
            .button {
                border: none;
                width: 100%;
                background: $merlinPurple;
                max-width: 100%;
                padding: 20px 0;
                font-size: 1.313em;
                .arrow {
                    width: 12px;
                    position: relative;
                    top: 3px;
                    right: -5px;
                    .scale-with-grid {
                        width: 12px;
                        height: auto;
                        margin: 0;
                        display: inline;
                        
                    }
                }
            }
        }
    }
}
.merlinPurpleBG {
    background: $merlinPurple;
    h2 {
        font-size: 2em;
        color: $white;
        text-transform: uppercase;
        margin: 0 0 40px 0;
    }
    h2 + p {
        color: $white;
        font-size: 1.500em;
        line-height: 1.2em;
        margin: 0;
    }
}

#sealifeGuidebooks {
    .heroImage {
        background-position: bottom right!important;
    }
}


