// Careers feed styling

#careers {
  h2 {
    color: $purpleThree;
    margin: 0 0 20px 0;
  }

  p {
    font-size: 1.125em;
    line-height: 1.4em;
    color: $greyOne;
    margin: 0 0 40px 0;
  }

  .filtersRow {
    background: $filterBGColor;
    border-top: 1px solid $greyBorderColor;
    padding: 20px 0;
    margin: 0 0 40px 0;

    ul {
      margin: 0;

      li {
        margin: 0;
        display: inline-block;
        border-right: 1px solid $greyTwo;
        padding-right: 15px;

        &:last-of-type {
          border-right: none;
        }

        select {
          margin: 0;
          width: 200px;
          height: 40px;
          background: none;
          border: none;
          @include border-radius(0px);
          @include tablet-portait {
            width: 150px;
          }
        }
      }
    }

    .rightSideFilters {
      text-align: right;

      ul {
        li {
          padding: 0 0 0 15px;
          border-left: 1px solid $greyTwo;
        }
      }
    }
  }

  .joblisting {
    .job {
      padding: 20px 15px;
      border-bottom: 1px solid $greyTwo;
      position: relative;

      &:first-of-type {
        border-top: 1px solid $greyTwo;
      }

      h2 {
        color: $purpleTwo;
        font-size: 1.625em;
        line-height: 1em;
        margin: 0 0 10px 0;

        a {
          text-decoration: none;
          color: inherit;
        }
      }

      .details {
        p {
          color: $greyOne;
          margin: 0;
          line-height: 1.2em;
          font-size: 1em;
        }
      }

      .icon {
        position: absolute;
        right: 15px;
        top: 0;
        width: 10px;
        height: 100%;

        .iconTable {
          display: table;
          width: 100%;
          height: 100%;

          .iconTableCell {
            display: table-cell;
            width: 100%;
            height: 100%;
            vertical-align: middle;
          }
        }
      }
    }
  }

  .viewmore {
    margin-top: 30px;
    max-width: 300px;

    &:hover {
      color: $purpleThree;
    }

    &:focus {
      color: $whiteText;
      border-color: $purpleThree;

      &:hover {
        color: $purpleThree;
      }
    }
  }
}