.contentArea {
  &.shareThisArea {
    p {
      color: $nearBlackText;
      font-size: 2.000em;
      line-height: 1em;
      text-transform: uppercase;
      font-weight: 100;
    }

    a {
      display: inline-block;
      color: $nearBlackText;
      font-size: 2em;
      line-height: 1em;
      margin: 0 4px 0 0;
      @include rolloverAnimations(250ms);

      &:hover {
        color: $pinkOne;
      }
    }

    @include phone {
      .alignRight {
        text-align: center;
        margin-bottom: 10px;
      }
      .alignLeft {
        text-align: center;
      }
    }
  }
}

// Footer styling 
.footer {
  .row {
    &.add-bottom {
      margin-bottom: 70px;
    }
  }

  .footerNav {
    ul {
      li {
        list-style: none;
        line-height: 1em;
        margin: 0 0 14px 0;

        a {
          font-size: 0.875em;
          line-height: 1em;
          text-decoration: none;
          text-transform: uppercase;
          color: $whiteText;
          &:hover {
             color: $pinkOne;
          }

        }
      }
    }
  }

  .logo {
    width: 100%;
    max-width: 105px;
    float: right;
    margin: 0 0 35px 0;

    @include phone {
      position: absolute;
      top: 0;
      right: 20px;
    }
  }

  .socialIcons {
    li {
      display: inline-block;
      line-height: 1em;
      margin: 0 -4px 0 0;

      a {
        padding: 15px;
        display: block;
        color: $whiteText;
        background: $greyFour;
        @include border-radius(50%);

        &:hover {
          background: $pinkOne;
        }
      }

      &:nth-of-type(1) {
        a {
          padding: 14px 15px;
        }
      }

      &:nth-of-type(2) {
        a {
          padding: 14px 18px;
        }
      }

      &:nth-of-type(3) {
        a {
          padding: 14px 14px;
        }
      }

      &:nth-of-type(4) {
        a {
          padding: 14px 13px;
        }
      }

      &:nth-of-type(5) {
        a {
          padding: 14px 15px;
        }
      }
    }

    @include phone {
      text-align: center;
    }
  }

  .addressContent {
    p {
      color: $greyFive;
      font-size: 0.875em;
      line-height: 1em;
      margin: 0;
      @include phone {
        line-height: 1.4em;
      }
    }

    ul {
      li {
        display: inline-block;
        list-style: none;
        line-height: 1em;
        margin: 0 4px 0 0;
        border-right: 1px solid $greyFive;
        @include phone {
          border-right: none;
        }

        a {
          color: $greyFive;
          font-size: 0.875em;
          line-height: 1em;
          text-decoration: none;
          padding: 0 10px 0 0;
          @include rolloverAnimations(250ms);

          &:hover {
            color: $pinkOne;
          }
        }

        &:last-of-type {
          margin: 0;
          border-right: none;

          a {
            padding-right: 0;
          }
        }
      }
    }
  }

  .copyright {
    p {
      color: $greyFive;
      font-size: 0.875em;
      line-height: 1em;
    }

    @include phone {
      text-align: left;
      margin: 30px 0 0 0;
    }
  }

  @include phone {
    padding: 60px 0 0;
  }
}

// Back to top

.backToTopButton {
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 999;
    background: $transBlack;
    padding: 10px 20px;
    @include rolloverAnimations(250ms);
    .fas {
        color: $white;
    }
    &:hover {
        cursor: pointer;
        opacity: 0.5;
    }
    @include phone {
        right: 10px;
        bottom: 10px;
    }
}

.wrapper--cookie {
	position: fixed;
	z-index: 500; // above header
	background-color: $charcoal;
	color: #fff;
	opacity: 1;
	visibility: hidden;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
    bottom: 50px;
    right: 50px;
    width: 300px;
    padding: 12px;
    @include box-sizing();
	p {
		max-width: 100%;
        margin: 0;
        font-size: 1em;
		a { 
            color: $white;; 
            text-decoration: underline; 
        }
	}
	.layout__item {
		position: relative;
        padding-right: 35px;
	}
	.closeButton {
		position: absolute;
		top: 0;
		right: 0;
		opacity: .66;
		padding: 0;
		margin: 0;
        color: $white;
        font-size: 1.3em;
        line-height: 1em;
		&:hover, &:active, &:focus {
			opacity: 1;
		}
	}
    &[data-state="active"] {
		opacity: 1;
		visibility: visible;
	}
    @include phone {
        width: 100%;
        right: 0;
        bottom: 0;
    }
}



