// Header styling goes here
body {
  color: $nearBlackText;
  overflow-x: hidden;
    &.popupOpen {
        overflow: hidden;
    }
}

.header {
  padding: 0;
  background: $whiteText;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  //    @include rolloverAnimations(250ms);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
            box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
  &.fixed {
    top: -25px;
    position: fixed;
    z-index: 9;
    @include phone {
      top: 0;
    }
  }

  .logo {
    width: 100%;
    max-width: 100px;

    a {
      display: block;
    }
  }

  .rowMainNav {
    padding-top: 10px;
  }

  nav {
    ul {
      li {
        display: inline-block;
        margin: 0 -4px 0 0;

        a {
          font-size: 1em;
          line-height: 1em;
          font-weight: 300;
          display: block;
          padding: 5px 0 20px 0;
          margin: 0 15px;
          color: $nearBlackText;
          text-decoration: none;
          text-transform: capitalize;
          position: relative;
          @include rolloverAnimations(250ms);

          &:before {
            content: '';
            display: block;
            width: 100%;
            height: 5px;
            position: absolute;
              
              
            left: 0;
            bottom: 0;
            background: $purpleThree;
            @include rolloverAnimations(250ms);
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
          }

          &:hover {
            color: $purpleThree;

            &:before {
              -webkit-transform: scaleX(1);
              transform: scaleX(1);
            }
          }

          &.active {
            color: $purpleThree;

            &:before {
              -webkit-transform: scaleX(1);
              transform: scaleX(1);
            }
          }

          @include tablet {
            font-size: 0.8em;
          }
          @include tablet-portait {
            margin: 0 10px;
          }
        }

        &:last-of-type {
          margin-right: 0;

          a {
            padding-right: 0;
            margin-right: 0;
          }
        }
      }
    }

    &.topNav {
      ul {
        li {
          padding: 0 10px;
          margin: 0 -4px 0 0;
          border-right: 1px solid $lightGreyText;
          -moz-transform: skewX(-20deg);
          -webkit-transform: skewX(-20deg);
          -o-transform: skewX(-20deg);
          -ms-transform: skewX(-20deg);
          transform: skewX(-20deg);

          &:last-of-type {
            margin: 0;
            padding-right: 0;
            border-right: 0;
          }

          a {
            font-size: 0.75em;
            text-decoration: none;
            color: $lightGreyText;
            text-transform: uppercase;
            padding: 3px 0;
            margin: 0;
            -moz-transform: skewX(20deg);
            -webkit-transform: skewX(20deg);
            -o-transform: skewX(20deg);
            -ms-transform: skewX(20deg);
            transform: skewX(20deg);
            text-transform: none;

            &:before {
              display: none;
            }

            &.active {
              color: $purpleTwo;
            }
          }
        }
      }

    }

    @include phone {
      display: none;
    }

    &.active {
      @include phone {
        display: block;
      }
    }
  }

  .rowTopNav {
    .alignRight {
      @include tablet-portait {
        width: 60%;
        margin-left: 40%;
      }
    }
  }

  @include phone {
    display: block;
    padding: 20px 0;
    -webkit-transform: none;
    transform: none;
  }

  .mobileNav {
    position: absolute;
    left: 0;
    top: 70px;
    width: 100%;
    z-index: 10;
    background: $whiteText;
    display: none;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
            box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
    ul {
      li {
        list-style: none;
        text-align: center;
        margin: 0;

        a {
          padding: 10px;
          display: block;
          color: $nearBlackText;
          text-decoration: none;
          text-align: right;
            text-transform: uppercase;
        }
      }
    }
  }
}

#nav-icon {
  width: 23px;
  height: 23px;
  position: absolute;
  top: 10px;
  right: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
    
  cursor: pointer;
  display: none;

  span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: $lightGreyText;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2) {
      top: 10px;
    }

    &:nth-child(3) {
      top: 20px;
    }

    &:nth-child(4) {
      top: 20px;
    }
  }

  &.open {
    span {
      &:nth-child(1) {
        top: 10px;
        width: 0;
        left: 50%;
      }

      &:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      &:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 10px;
      }

      &:nth-child(4) {
        top: 10px;
        width: 0;
        left: 50%;
      }
    }
  }

  @include phone {
    display: block;
  }
}



#prSection {
  h3{
    font-size: 1.5rem;
    color:#ffffff;
    margin-bottom:16px;  
      @include phone {
        font-size: 1.25rem;
      }
  }
  p{  
    font-size: 1rem;
    color:#ffffff;
    margin-bottom:8px;
    @include phone {
      font-size: 0.825rem;
    }
  }

}



