// Hero Section styling

.heroSlider {
  position: relative;
  overflow: hidden;
  .slideHeroImage {
    h1 {
      font-weight: 700;
      @include phone {
        font-size: 1.625em;
      }
    }

    p {
      font-size: 1.625em;
      line-height: 1.4em;
      margin: 0 0 15px 0;
      @include phone {
        font-size: 1em;
        .mobile-hide {
          display: none;
        }
      }
    }
  }

  .slideContent {
    padding: 30px 0 60px 0;

    p {
      font-size: 1.1em;
      line-height: 1.4em;

    }

    .heroButton {
      max-width: 280px;
      border-color: $purpleTwo;
      color: $purpleTwo;

      &:after {
        background: $purpleTwo;
      }

      &:hover {
        color: $whiteText;
      }
    }
  }

  .slick-dots {
    position: absolute;
    left: 0;
    bottom: 15px;
    width: 100%;
    margin: 0;
    text-align: center;

    li {
      list-style: none;
      width: 12px;
      height: 12px;
      @include border-radius(50%);
      background: #a4a4a4;
      display: inline-block;
      margin: 0 15px 0 0;

      &.slick-active {
        background: $nearBlackText;
      }

      button {
        display: none;
      }
    }
  }

  @include tablet {
    overflow: hidden;
  }
  @include phone {
    overflow: hidden;
  }
}

.csOverlay, .mapOverlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: -100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
    .closeButton {
        position: absolute;
        width: 32px;
        height: 32px;
        right: 20px;
        top: 20px;
        z-index: 1001;
//        @include border-radius(100%);
//        background: $transGrey;
        @include rolloverAnimations(250ms);
        .fas {
            color: $white;
            font-size: 1.5em;
            @include rolloverAnimations(250ms);
        }
        &:hover {
            cursor: pointer;
            .fas {
                color: $purpleOne;
            }
        }
    }
}

.csAccordian {
  display: none;
  cursor: pointer;
}


.heroImage {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed;
    @include phone {
      background-size: cover;
      background-position: center center !important;
      background-attachment: scroll; 
    }
  &.heroImage-second {
    @include phone {
      background-size: contain;
      background-position: top center !important;
      background-attachment: scroll;
      padding: 200px 0 0 !important;
    }
  }
    img {
        &.scale-with-grid-third {
            @include phone {
                width: 80%!important;
                height: auto;
            }
        }
    }
  &.heroPadding {
    /* padding: 200px 0;*/
    height: 100vh;
    @include tablet {
      height: auto;
      padding: 0 0 50px 0;
    }
    @include phone {
      padding: 80px 0 0 0;
      height: auto;
      .container {
        padding: 0;
      }
      .centeredText {
        padding-left: 15px;
        padding-right: 15px;
      }
      #introVideo {
        display: none;
      }
      .heroOverlay {
        height: 100%;
        top: 0;
      }
      .heroBlock {
        background: $black;
      }
      .herosubBlock {
        background: #bababa;
      }
    }
  }

  .heroTitle {
    padding: 10vh 0 0 0;
  }

  .pageTitle {
    padding: 80px 0;
  }

  .heroTitle-nh {
    padding: 140px 0;
  }

  .heroTitle-ca {
    padding: 240px 0;
  }

  .herosubTitle {
    padding: 2vh 0 10vh 0;
  }

  h1 {
    color: $whiteText;
    margin: 0 0 15px 0;
    letter-spacing: 1rem;
    font-size: 3em;
    font-weight: bold;
    @include phone {
      font-size: 1.4em;
    }
  }


  h2 {
    color: $whiteText;
    margin: 0 0 15px 0;
    font-size: 1.625em;
    word-wrap: break-word;
  }

  p {
    color: $whiteText;
    line-height: 1.4em;

    &.subhead {
      font-size: 1.875em !important;
    }

  }

  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.5;
  }

  &.standardHero {
    padding: 150px 0;

    .overlay {
      //            opacity: 0.8;
    }
  }

  @include tablet {
    background-attachment: fixed;
  }

  #introVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100vh;
    width: auto;
    height: auto;
    z-index: 1;
    background-size: cover;
    overflow: hidden;
  }

    #techVideo {
    width:100%;
    height:auto;
  }

    #caseStudyVideo {
    position: absolute;
    right: 0;
   /* bottom: 0;*/
    min-width: 100%;
    min-height: 100vh;
	height: auto;
    width: auto;
    z-index: 1;
    background-size: cover;
    overflow: hidden;
  }

  .contactArea{

  }
  
  .heroBlock {
    background-color: rgba(0, 0, 0, .8);
    padding: 0;
    position: relative;

    &:hover {
      background-color: rgba(0, 0, 0, .5);
    }

    p {
      font-size: 1.375em;
      margin: 0 !important;
      color: #ABABAB;
    }

    img {
      margin: 25px 0;
    }


    a {
      text-decoration: none;
      padding: 25px;
      display: block;
        &:after {
          content: "";
          width: 30px;
          height: 30px;
          background: url('/img/white-arrow.png') no-repeat;
          top: 48%;
          right: -5px;
          position: absolute;
          display: inline-block;
        }
    }

  }

  .herosubBlock {
    background-color: rgba(255, 255, 255, .6);
    padding: 0;
    position: relative;
    &:hover {
      background-color: rgba(255, 255, 255, .2);;
    }

    p {
      font-size: 1em;
      color: $black;
      @include tablet {
        font-size: 0.9em;
      }
    }

    a {
      text-decoration: none;
      padding: 25px;
      display: block;
      height: 100%;
        @include box-sizing();
      &:after {
          content: "";
          width: 30px;
          height: 30px;
          background: url('/img/black-arrow.png') no-repeat;
          top: 45%;
          right: -5px;
          position: absolute;
          display: inline-block;
        }
    }
  }

  .featureBlock {
    margin: 50px 0 0 50px;
    background-color: rgba(255, 255, 255, .95);
    padding: 25px;
    position: relative;
    @include box-sizing();
    @include tablet-portait {
      width: 80%;
    }
    @include phone {
      width: 100%;
      margin: 0;
      padding-bottom: 200px;
    }

    &:after {
      content: "";
      width: 30px;
      height: 30px;
      background: url('/img/white-arrow.png') no-repeat;
      top: 48%;
      right: -5px;
      position: absolute;
      display: inline-block;
    }


    h2 {
      color: $purpleOne;
      font-size: 1.625em;
    }

    p {
      font-size: 1em;
      margin: 0 !important;
      color: $nearBlackText;
    }

    img {
      margin: 25px 0;
        width: 100%;
        height: auto;
    }
  }

  .featuresubBlock {
    margin-left: 50px;
    background-color: $purpleOne;
    position: relative;
    @include tablet-portait {
      width: 80%;
    }
    @include phone {
      width: 98%;
      margin: 0 1% 7px;
      padding: 25px 40px 25px 25px;
      position: absolute;
      bottom: 0;
    }

    

    &:hover {
      background-color: rgba(255, 255, 255, .2);;
      @include phone {
        background-color: $purpleOne;
      }
    }

    p {
      font-size: 1.375em;
      color: $whiteText;
    }
      a {
          display: block;
          position: relative;
          padding: 25px;
          text-decoration: none;
          &:after {
              content: "";
              width: 30px;
              height: 30px;
              background: url('/img/white-arrow.png') no-repeat;
              top: 45%;
              right: -5px;
              position: absolute;
              display: inline-block;
            }
      }
    img {
      margin: 25px 0;
    }
  }

  .numberBlock {
    text-align: center;
    vertical-align: middle;
    min-height: 100vh;
    height: auto;
    display: flex;
    align-items: center;
    align-content: center;

    @include phone {
      display: none !important;
    }

    h4 {
      font-size: 24vw;
      line-height: 20vw;
      color: $whiteText;
    }

    h5 {
      font-size: 6vw;
      color: $whiteText;
    }

    svg.fit {
      width: 100%;
    }
  }

  .heroOverlay {
    position: absolute;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    opacity: .5;
    z-index: 2;
  }

  .halfOverlay {
    left: 50% !important;
    min-width: 50% !important;

    @include phone {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .rwd-break {
    display: none;
  }
}


.fa-times:before {
    content: "";
    width: 30px;
    height: 30px;
    background: url(/img/white-cross.png) no-repeat;
    top: 45%;
    right: -5px;
    position: absolute;
    display: inline-block;
    }