.insightsListing {
  .paddingSide {
    padding: 0 1%;
  }

  .insightBox {
    margin: 0 0 20px 0;
    @include tablet-portait {
      width: 50%;
    }
      @include phone {
          width: 100%;
      }
  }
    
    .insightBox--hidden{
        display:none;
    }    

  .filtersRow {
    padding: 20px 0;
    margin: 0 0 40px 0;

    ul {
      margin: 0;

      li {
        margin: 0;
        display: inline-block;
        padding-right: 15px;

        &:last-of-type {
          border-right: none;
        }

        select {
          margin: 0;
          width: 200px;
          height: 40px;
          background: none;
          border: none;
          @include border-radius(0px);
          @include tablet-portait {
            width: 150px;
          }
        }
      }
    }

    .rightSideFilters {
      text-align: right;

      ul {
        li {
          padding: 0 0 0 15px;
        }
      }
    }
  }

  .insight {
    min-height: 600px;
    position: relative;
    padding-bottom: 70px;
    @include box-sizing();
    @include tablet {
      min-height: 550px;
    }
    @include tablet-portait {
      min-height: 650px;
    }

    .insightImage {
      width: 100%;
      height: 250px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;

      .infoBar {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        background: $transGrey;
        color: $whiteText;
        padding: 15px;
        @include box-sizing();

        .infoBarTitle {
          text-align: left;
          font-size: 1.125em;
          line-height: 1em;
          font-weight: 600;
          text-transform: uppercase;
          letter-spacing: 0.5px;
        }

        .infoBarDate {
          text-align: right;
          font-size: 1.125em;
          line-height: 1em;
          font-weight: 300;
        }
      }
    }

    .insightText {
      padding: 25px 30px 0 30px;
      height: 125px;
      
      h4 {
        color: $nearBlackText;
        line-height: 1em;
        margin: 0 0 20px 0;
      }

      p {
        margin: 0 0 20px 0;
      }

    }

    .share {
      padding: 0 30px 35px 30px;
      text-align: left;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
        @include box-sizing();
      p {
        display: inline-block;
        line-height: 1em;
        font-size: 1em;
        margin: 0 5px 0 0;
        position: relative;
        top: -3px;
      }

      a {
        margin: 0;
        display: inline-block;
        
        .fab {
          font-size: 1.5em;
          color: $nearBlackText;
            @include rolloverAnimations(250ms);
        }
          &:hover {
              .fab {
                 color: $purpleTwo; 
              }
          }
      }
    }
      .button {
          display: block;
          width: 80%;
          max-width: 80%;
          margin: 0 auto;
      }
  }
}


