
.logoCarouselContainer {
  padding: 70px 0 50px 0;

  .logoCarousel {
    padding: 0 50px 0 50px;
    overflow: hidden;

    .logo {
      width: 120px;
      margin: 0 36px;
    }

    .slick-dots {
      text-align: center;
      margin: 0;

      li {
        list-style: none;
        width: 12px;
        height: 12px;
        @include border-radius(50%);
        background: #a4a4a4;
        display: inline-block;
        margin: 0 15px 0 0;

        &.slick-active {
          background: $nearBlackText;
        }

        button {
          display: none;
        }
      }
    }
  }
}


.logoCarouselContainerTop {
  padding: 0 0 50px 0;

  .logoCarousel {
    padding: 0 50px 0 50px;
    overflow: hidden;

    .logo {
      width: 120px;
      margin: 0 36px;
    }

    .slick-dots {
      text-align: center;
      margin: 0;

      li {
        list-style: none;
        width: 12px;
        height: 12px;
        @include border-radius(50%);
        background: #a4a4a4;
        display: inline-block;
        margin: 0 15px 0 0;

        &.slick-active {
          background: $nearBlackText;
        }

        button {
          display: none;
        }
      }
    }
  }
}