.servicesSubtitleSection {
  padding: 60px 50px;

  h2 {
    margin: 0 auto;
    text-align: center;
    font-size: 2em;
    max-width: 1220px;
  }
}

.servicesListingSection {
  background: $greyTen;

  .overlay {
    width: 100%;
    height: 100%;
    background: $black;
    opacity: 0.5;
    z-index: 0;
  }

  h3 {
    margin: 0 0 60px 0;
    color: $purpleTwo;
    font-size: 2em;
  }

  h4 {
    margin: 0 0 30px 0;
    font-size: 1.75em;
    color: $purpleTwo;
  }

  .paddingSide {
    padding: 1%;
  }

  .service {
    @include tablet {
      min-height: 500px;
    }
    @include tablet-portait {
      min-height: 550px;
    }
    @include phone {
      min-height: auto;
    }

    .serviceImage {
      width: 100%;
      height: 200px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: $greyTwo;
    }

    .serviceText {
      padding: 25px 20px 35px 20px;

      h4 {
        color: $purpleOne;
        line-height: 1em;
        margin: 0 0 20px 0;
        height:60px;
      }

      p {
        margin: 0 0 20px 0;
        min-height: 115px;
        height: 115px;
        font-size: 1.125em;
        line-height: 1.625em;
      }

      .button {
        max-width: 100%;
        border: 3px solid $purpleOne;

        &:before {
          background: $purpleOne;
        }

        &:hover {
          color: $purpleOne;
        }
      }
    }
  }

  &.sectorsListingSection {
    .service {
      .serviceText {
        h4 {
          color: $purpleTwo;
        }
      }
    }
  }
}

#sectorhead {
  h2 {
//    color: $blueTwo;
  }
}

.ichorSection {
  .paddingSide {
    padding: 1%;
  }

  .service {
    .serviceImage {
      width: 100%;
      height: 200px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: $greyTwo;
    }

    .serviceText {
      padding: 25px 30px 35px 30px;

      h4 {
        color: $nearBlackText;
        line-height: 1em;
        margin: 0 0 20px 0;
      }

      p {
        color: $nearBlackText;
        margin: 0 0 20px 0;
      }
    }

    @include tablet-portait {
      min-height: 600px;
    }
    @include phone {
      min-height: auto;
    }
  }
}
