.servicesBlocks {
  .row {
    display: -ms-flexbox;
    display: flex;
    /* min-height: 400px;*/
    .halfWidthBlocksBG {
      float: none;
      background-position: center center;
      background-size: cover;
      position: relative;
      @include phone {
        height: 250px;
      }

      .overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: $black;
        opacity: 0.5;
        z-index: 0;
      }

      .halfWidthBlocksBGTable {
        position: absolute;
        width: 100%;
        height: 100%;
        display: table;
        z-index: 1;

        .halfWidthBlocksBGTableCell {
          display: table-cell;
          width: 100%;
          height: 100%;
          vertical-align: middle;

          .icon {
            width: 100%;
            max-width: 130px;
            margin: 0 auto;

            img {
              @include scale(0);
              @include rolloverAnimations(750ms);
            }
          }
        }
      }
    }

    .halfWidthBlocksContent {
      //            float: none;
      .halfWidthBlocksText {
        width: 100%;
        max-width: 590px;
        padding-left: 60px;
        padding-right: 60px;
        @include box-sizing();
        @include phone {
          padding-left: 30px;
          padding-right: 30px;
        }
      }

      &.purpleBG {
        color: $whiteText;

        h3 {
          color: $pinkText;
        }

        p {
          margin: 0 0 20px 0;
        }
      }
    }

    &:nth-of-type(odd) {
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;

      .halfWidthBlocksContent {
        .halfWidthBlocksText {
          width: 100%;
          max-width: 590px;
          margin: 0;
          float: right;
          @include phone {
            float: none;
          }
        }
      }

      @include phone {
        display: block;
      }
    }

    &.servicesBlocksRow {
      .halfWidthBlocksBG {
        position: relative;
        @include rolloverAnimations(500ms);
      }

      .halfWidthBlocksContent {
        position: relative;
        @include rolloverAnimations(500ms);
          .row {
              display: block;
          }
      }
    }

    &.inview {
      .halfWidthBlocksBG {
        .halfWidthBlocksBGTable {
          .halfWidthBlocksBGTableCell {
            .icon {
              img {
                @include scale(1);
              }
            }
          }
        }
      }
    }

    @include phone {
      display: block;
    }
  }

  &.ichorServicesBlocks {
    .servicesBlocksRow {
      .halfWidthBlocksBGTable {
        .halfWidthBlocksBGTableCell {
          .icon {
            max-width: 280px;
          }
        }
      }
    }
  }

  &.servicesBlocksAlt {
    .row {
      &:nth-of-type(odd) {
        -ms-flex-direction: row;
        flex-direction: row;

        .halfWidthBlocksContent {
          .halfWidthBlocksText {
            float: left;
          }
        }
      }

      &:nth-of-type(even) {
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;

        .halfWidthBlocksContent {
          .halfWidthBlocksText {
            float: right;
          }
        }
      }
    }
  }
}

.homeService {
  flex-direction: initial !important;
}

.leftText {
  float: left !important;
}

.discover {
  font-size: 1.375em !important;
  letter-spacing: 0;
  font-weight: 300;
  padding: 24px 20px;
  border: 3px solid $purpleOne;

  &:before {
    background: $purpleOne;
  }
}

// Full width BG Service section
.fullwidthBG {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  .row {
    display: -ms-flexbox;
    display: flex;

    .halfWidthBlocksBG {
      float: none;
      position: relative;

      .overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: $black;
        opacity: 0.5;
        z-index: 0;
      }

      .halfWidthBlocksBGTable {
        position: absolute;
        width: 100%;
        height: 100%;
        display: table;
        z-index: 1;

        .halfWidthBlocksBGTableCell {
          display: table-cell;
          width: 100%;
          height: 100%;
          vertical-align: middle;

          .icon {
            width: 100%;
            max-width: 130px;
            margin: 0 auto;
          }
        }
      }

      @include phone {
        height: 300px;
      }
    }

    .halfWidthBlocksContent {
      &.padding {
        padding: 60px;
      }
    }

    @include phone {
      display: block;
    }
  }
}





