h1 {
  font-weight: normal;
  font-size: 3em;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 5px;

}

h2 {
  font-size: 1.875em;
  line-height: 1.4em;
  font-weight: 300;
  margin: 0;

  &.lightWeight {
    font-weight: 300;
  }

  .LightGreyBG & {
    color: $purpleTwo;
    margin: 0 0 40px 0;
  }

  .accreditstionsSection & {
    color: $purpleTwo;
    margin: 0 0 40px 0;
  }

  .heroText & {
    color: $purpleOne;
  }
    &.purpleText {
        color: $purpleOne;
    }
}


h3 {
  font-size: 2em;
  line-height: 1.4em;
  font-weight: 300;
  margin: 0 0 40px 0;
}

h4 {
  font-size: 1.875em;
  font-weight: 300;
  margin: 0 0 30px 0;
  line-height: 1.4em;

  .heroText & {
    color: $purpleTwo;
  }
}

h5 {
  font-size: 1.750em;
  line-height: 1.25em;
  margin: 0;
  font-weight: 300;

  .whiteBG & {
    color: $purpleTwo;
    font-weight: 700;
  }
}

.centeredText {
  text-align: center;
}

.alignMiddleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftAligned {
  text-align: left;
}

.pinkText {
  color: $pinkText;
}

.palePink {
  color: $palePink;
}

.whiteText {
  color: $whiteText !important;
}

.purpleText {
  color: $purpleOne;
}

.purpleTwoText {
  color: $purpleTwo;
}

.purpleThreeText {
  color: $purpleThree !important;
}


.tealText {
  color: $tealOne;
}

.greenTwoText {
  color: $greenTwo;
}

.limeGreenText {
  color: $limeGreen;
}

.blueText {
  color: $blueText;
}

.blueThreeText {
  color: $blueThree;
}

.orangeText {
  color: $orangeOne;
}

.orangeTwoText {
  color: $orangeTwo;
}

.tealTwoText {
  color: $tealTwo;
}


.upper {
  text-transform: uppercase;
}

p {
  font-weight: 300;
//    @include phone {
//        word-break: break-all;
//    }
    a {
        @include phone {
            word-break: break-all;
            display: block;
        }
    }
}

.large {
  font-size: 1.5em
}

.large20 {
  font-size: 1.25em
}

.large26 {
  font-size: 1.625em
}

.narrow {
  font-weight: 300;
}


p.medium {
  font-size: 1.25em;

  a {
    color: $purpleTwo;
    text-decoration: none;
  }
}


.halfWidthBlocksText p {
  font-size: 1.125em;
}

.add-bottom {
  margin-bottom: 20px !important;
}

.add-top {
  margin-top: 20px !important;
}


// Button styling 

.button {
  @include border-radius(0px);
  padding: 14px 20px;
  background: none;
  color: $whiteText;
  display: block;
  font-size: 1.125em;
  line-height: 1em;
  height: auto;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  @include rolloverAnimations(300ms);
  position: relative;
  z-index: 1;
  // border: 3px solid $purpleThree;

  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    //background: $purpleThree;
    left: 0;
    top: 0;
    z-index: -1;
  }

  &:after {
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background: $whiteText;
    content: '';
    position: absolute;
    z-index: -1;
    @include rolloverAnimations(300ms);
    padding: 0;
  }

  &:hover {
    //        border: none;
    border-color: inherit;
    color: $pinkOne;
    text-decoration: none;
    &:after {
      width: 100%;
    }
  }

  &.discoverButton {
    max-width: 220px;
    margin: 0;
    color: $whiteText;
    border: 3px solid $tealOne;

    &:hover {
      color: $tealOne;
    }

    &:before {
      background: $tealOne;
    }
  }

  &.greenButton {
    border: 1px solid $limeGreen;

    &:hover {
      color: $limeGreen;
    }

    &:before {
      background: $limeGreen;
    }
  }

  &.buttonExternal {
    margin: 0;
    max-width: 300px;
  }

  &.buttonExt {
    margin: 0;
    max-width: 100%;
    text-transform: unset;
    font-size: 0.875em;

    i {
      padding-left: 50px;
    }

  }

  &.buttonDownload {
    max-width: 315px;
    border: 3px solid $pinkOne;
    color: $greyOne;

    &:before {
      background: none;
    }

    &:after {
      background: $pinkOne;
    }

    &:hover {
      color: $whiteText;
    }
  }

  &.buttonService {
    max-width: 215px;
    border: 3px solid $purpleTwo;
    color: $purpleTwo;

    &:before {
      background: none;
    }

    &:after {
      background: $purpleTwo;
    }

    &:hover {
      color: $whiteText;
    }
  }

  &.buttonSuccess {
    max-width: 260px;
    border: 3px solid $purpleTwo;
    color: $purpleTwo;

    &:before {
      background: none;
    }

    &:after {
      background: $purpleTwo;
    }

    &:hover {
      color: $whiteText;
    }
  }

  &.blueButton {
    border: 1px solid $blueTwo;

    &:before {
      background: $blueTwo;
    }

    &:hover {
      color: $blueTwo;
    }
  }

  &.loadMoreButton {
    max-width: 100%;
    margin: 20px 0;
  }
  &.readMore {
      font-size: 0.75em;
      max-width: 150px;
      padding: 10px 20px;
  }  
    
  &.readMoreAbout {
    max-width: 300px;
    margin: 0;
  }

  &.heroButton {
    max-width: 250px;
    border-color: $whiteText;

    &:before {
      display: none;
    }
  }

  &.buttonCV {
    max-width: 225px;
  }

  .heroText & {
    max-width: 320px;
  }

  @include tablet-portait {
    font-size: 0.65em;
  }
    &.scale-with-grid-halve {
        @include phone {
            width: 90%!important;
        }
    } 
    &.scale-with-grid-third {
        @include phone {
            width: 90%!important;
        }
    } 
}
