// Brand Color
$primary-color: blue;

// Font sizes
$font-size: 18px;

// Screen sizes

$mobile-portait: 414px;
$tablet-width: 768px;
$desktop-width: 1084px;
$large-desktop-width: 1320px;
$extralarge-desktop: 1920px;
$ipadPro: 1366px;

// Padding & margins

$padding: 70px 0 80px 0;

// Colours
$redOne: #751718;
$purpleOne: #331537;
$purpleTwo: #58135b;
$purpleThree: #a71680;
$pinkOne: #9e1680;
$palePink: #d38ac0;
$greyOne: #3c3c3b;
$greyTwo: #949393;
$greyThree: #d1d1d1;
$greyFour: #404041;
$greyFive: #a4a4a4;
$greySix: #d0d0d0;
$greySeven: #b1b1b1;
$greyEight: #4d4d4d;
$greyNine: #d4d4d4;
$greyTen: #acacac;
$orangeOne: #7f1718;
$orangeTwo: #ce490c;
$blueOne: #365380;
$blueTwo: #2ba6dd;
$blueThree: #1667a9;
$blueFour: #2dafe6;
$greenOne: #3d5a24;
$greenTwo: #80891F;
$navyOne: #3b5260;
$tealOne: #30929d;
$tealTwo: #9BDAD5;
$limeGreen: #8bb81f;
$black: #000000;
$white: #ffffff;
$nearBlack: #333333;
$transWhite: rgba(255, 255, 255, 0.8);
$transGrey: rgba(51, 51, 51, 0.8);
$transBlack: rgba(0, 0, 0, 0.5);
$filterBGColor: #f1f1f1;
$charcoal: #404041;

// Text Colors
$lightGreyText: #666666;
$nearBlackText: #333333;
$pinkText: #d38ac0;
$whiteText: #ffffff;
$greenText: #3d5a24;
$blueText: #2dafe6;
$aquaText: #38B6AB;
$tealText: #308792;
$darkTeal: #455a64;

// Borders
$borderColor: #979797;
$darkBorderColor: #828282;
$greyBorderColor: #c9c9c9;

// Merlin Colors

$merlinBlue: #1c3a85;
$merlinPurple: #2f1635;

.padding {
  padding: 60px 0;
}

.smPadding {
  padding: 30px 0;
}